{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | My Company Admin{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        {% comment %} <img src="{% static 'admin/img/1.jpg' %}" alt="My Company Logo" class="logo"> {% endcomment %}
        My Company Admin
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}